body {
  background-color: rgb(106, 97, 97);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.welcome-user {
  margin: 0;
  color: white;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h2 {
  text-align: center;
  font-size: 30px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Leyenda {
  color: white;
  text-align: center;
}

.account-user {
  text-align: center;
}

form {
  background-color: white;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;

  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-text {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="button"] {
  align-items: center;
  background-color: #17691a;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 4px;
}

#bt4 {
  background-color: #3c983f;
}

#bt6 {
  background-color: rgb(189, 56, 39);
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}
.button-logout {
  background-color: rgb(14, 4, 195);
  color: white;
  border: none;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  top: 520px;
  right: 50px;
}
